<%# Create a beautiful card here %>
<h2>
  <%= restaurant.name %> 
</h2> 
<p>
  Rating: <%= "*" * restaurant.rating %> 
</p>
<p>
  Category: <%= restaurant.category %>
</p>
<p>
  City: <%= restaurant.city.name %>
</p>

<hr>
